<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GateServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:99/GateServices.asmx" binding="basicHttpBinding"
                bindingConfiguration="GateServicesSoap" contract="GateService.GateServicesSoap"
                name="GateServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>