<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<add key="loginserver" value="localhost" />
 <add key="TelnetAddress" value="192.168.43.99" />
   	  <add key="TelnetPort" value="8023" />
		<add key="sgatelocname" value="sgateout1" />
		<add key="sgateopengateexefile" value="open.exe" />
		<add key="sgateopengateexefile.1" value="open.exe" />
		<add key="sgateopengateexefile.2" value="open.exe" />
		<add key="sgatecaptureexefile" value="" />
		<add key="capturefile" value="" />
  <add key="eorheaderline1" value="PT.INTERCON INTERNATIONAL TERMINAL" />
   	  <add key="eorheaderline2" value="Depo Container" />
   	  <add key="eorheaderline3" value="Jl. 1" />
   	  <add key="eorheaderline4" value="Medan " />
   	  <add key="eorheaderline5" value="Tlp. (021) 8888888" />

		<add key="pagesetup" value="Y" />
		<add key="preview" value="Y" />

		<add key="invoiceprint.mode" value="1" />
		<add key="invoiceprint.linetogo" value="31" />
		<add key="invoiceprint1.linetogo" value="25" />
		<add key="invoiceprint.lokasi" value="SEMARANG" />
		<add key="invoice.noprefix" value="SEM" />

		<add key="bonbongkarprint.mode" value="1" />
		<add key="bonmuatprint.mode" value="1" />
		<add key="orinprint.mode" value="1" />
		<add key="oroutprint.mode" value="1" />

		<add key="eirinprint.left" value="0" />
		<add key="eirinprint.top" value="0" />

		<!-- mitctssecuregateout print magrin start -->
		<add key="eiroutprint.left" value="20" />
		<add key="eiroutprint.top" value="0" />
		<!-- mitctssecuregateout print magrin end -->

		<add key="bonbongkarprint.left" value="0" />
		<add key="bonbongkarprint.top" value="0" />

		<add key="orinprint.left" value="0" />
		<add key="orinprint.top" value="0" />

		<add key="bonmuatprint.left" value="0" />
		<add key="bonmuatprint.top" value="0" />

		<add key="oroutprint.left" value="0" />
		<add key="oroutprint.top" value="0" />

		<!-- mitctssecuregateout configuration start -->
		<!-- mitctssecuregateout printer selection -->
		<add key="ak" value="gate2" />
		<add key="eiroutprint.printer1.code" value="#2" />
		<add key="eiroutprint.printer2.name" value="gate1" />
		<add key="eiroutprint.printer2.code" value="#1" />
		<!-- mitctssecuregateout setup -->
		<add key="eiroutprint.pen.width" value="1" />
		<add key="eiroutprint.box.margin" value="10" />
		<add key="eiroutprint.box.padding" value="10" />
		<add key="eiroutprint.box.width" value="265" />
		<add key="eiroutprint.box.height" value="450" />
		<add key="eiroutprint.col1.width" value="110" />
		<add key="eiroutprint.col2.width" value="110" />
		<!-- mitctssecuregateout header text -->
		<add key="eiroutprint.header.font.name" value="Times New Roman" />
		<add key="eiroutprint.header.font.size" value="10" />
		<add key="eiroutprint.header.1" value="PT.INTERCON INTERNATIONAL TERMINAL" />
		<add key="eiroutprint.header.2" value="EQUIPMENT INTERCHANGE RECEIPT (OUT)" />
		<!-- mitctssecuregateout main text -->
		<add key="eiroutprint.main.font.name" value="Lucida Console" />
		<add key="eiroutprint.main.font.size" value="8" />
		<add key="eiroutprint.main.1" value="D/O No." />
		<add key="eiroutprint.main.2" value="Shipper" />
		<add key="eiroutprint.main.3" value="VESSEL/VOY No." />
		<add key="eiroutprint.main.4" value="Destination" />
		<add key="eiroutprint.main.5" value="Quantity" />
		<add key="eiroutprint.main.6" value="Principal" />
		<add key="eiroutprint.main.7" value="Delivered" />
		<add key="eiroutprint.main.8" value="Vehicle No." />
		<!-- mitctssecuregateout line text -->
		<add key="eiroutprint.line.col1.width" value="110" />
		<add key="eiroutprint.line.col2.width" value="110" />
		<add key="eiroutprint.line.font.name" value="Lucida Console" />
		<add key="eiroutprint.line.font.size" value="8" />
		<add key="eiroutprint.line.1" value="CONTAINER PREFIX + NUMBER" />
		<add key="eiroutprint.line.2" value="SIZE" />
		<add key="eiroutprint.line.3" value="TYPE" />
		<add key="eiroutprint.line.4" value="CONDITION" />
		<add key="eiroutprint.line.5" value="SEAL" />
		<add key="eiroutprint.line.6" value="REMARKS : {0} {1} {2}" />
		<!-- mitctssecuregateout footer text -->
		<add key="eiroutprint.footer.font.name" value="Arial" />
		<add key="eiroutprint.footer.font.size" value="8" />
		<add key="eiroutprint.footer.1" value="Printed and Authorized, {0} {1}" />
		<add key="eiroutprint.footer.2" value="PT.INTERCON INTERNATIONAL TERMINALL" />
		<!-- mitctssecuregateout configuration end -->

		<add key="trkpengajuanprint.left" value="0" />
		<add key="trkpengajuanprint.top" value="0" />

		<add key="trkpenyelesaianprint.left" value="0" />
		<add key="trkpenyelesaianprint.top" value="0" />

		<add key="warningpaperout" value="450" />
		<add key="warningpaperoutmailto" value="admin@intercon.co.id;admin@intercon.co.id" />
		<add key="warningpaperoutmailcc" value="admin@intercon.co.id;admin@intercon.co.id" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>